<div class="row">
    <div class="col-xs-12">
        <img [src]="recipe.imagePath" 
        alt={{recipe.name}} 
        class="img-responsive" style="max-height: 300px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{recipe.name}} </h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" ngbDropdown >
        <div
         class="btn-group"  >
            <button 
            type="button" 
            class="btn btn-primary dropdown-toggle" ngbDropdownToggle>
            Manage Racipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <li ngbDropdownItem><a (click)="onAddToShoppingList()">To Shopping List</a></li>
                <li ngbDropdownItem><a >Edit Recipe</a></li>
                <li ngbDropdownItem ><a >Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">{{recipe.Description}}</div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group" *ngFor="let ingredient of recipe.ingredients">{{ingredient.name}} - {{ingredient.amount}}</li>
        </ul>
    </div>
</div>
